<style>
    h1 { color:red; }
    #name {
        color:blue;     
    }
</style>
<strong>Hello, {{name}}!</strong>

<p>Your Email was successfully sento to Admin</P> 
<br/>
<hr/>
<p>Copy of message is </p>
<hr/>

<h1 id="name">{{message}}</h1>!

:)